{% extends "basefront.html.twig" %}

{% block body %}
<section class="container mt-2">
    <h3>Mentions légales du site</h3>
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site <u><a href="http://www.mediatekformation.autogend.fr">mediatekformation.autogend.fr</a></u> les présentes mentions légales.</p>
    <p>Le site mediatekformation est accessible à l'adresse suivante&nbsp;:&nbsp;<u><a href="https://www.mediatekformation.autogend.fr">mediatekformation.autogend.fr</a></u> (ci-après "<strong>le site</strong>"). L'accès et l'utilisation du Site sont soumis aux présentes "Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables. La connexion, l'utilisation et l'accès à ce site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</p>
    <h4>Article 1 - Informations légales</h4>
    <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    <div class="bd-example">
        <details>
            <summary>A. Éditeur du site (ci-après "<strong>l'Éditeur</strong>")</summary>
            <address>
                <strong>.</strong>
                <br>Courriel&nbsp;:&nbsp;contact@autogend.fr
            </address>
        </details>
        <details>
            <summary>B. Hébergeur du site (ci-après "<strong>l'Hébergeur</strong>")</summary>
            <address>
                <strong>OVH SAS</strong>
                <br>2 rue Kellermann
                <br>59100 Roubaix, France
                <br>Téléphone&nbsp;:&nbsp;+33 9 72 10 10 07
                <br>Courriel&nbsp;:&nbsp;contact@ovh.com
            </address>
        </details>
        <details>
            <summary>C. Utilisateurs (ci-après "<strong>les Utilisateurs</strong>")</summary>
            <p>Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site mediatekformation.</p>
        </details>
    </div>
    <h4 class="mt-3">Article 2 - Confidentialité</h4>
    <div class="bd-example">
        Le site ne collecte pas de données.
    </div>
    <h4 class="mt-3">Article 3 - accessibilité</h4>
    <p>Le Site est par principe accessible aux Utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
    <h4 class="mt-3">Article 4 - loi applicable et juridiction</h4>
    <p>Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>
    <h4 class="mt-3">Article 5 - contact</h4>
    <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante&nbsp;:&nbsp;contact@autogend.fr</p>
    <h4 class="mt-3">Article 6 - précisions</h4>
    <p>Le site est un projet de cours, et une large partie de son code a été réalisée par le CNED. Ce site est disponible temporairement et sera rendu indisponible dans l'avenir. Les Utilisateurs s'engagent à ne pas traiter ce site comme étant réel.</p><br/>
    <p>Le site mediatekformation vous souhaite une excellente navigation !</p>
</section>

{% endblock %}
{% block footer %}{% endblock %}


